---
// import Picture from '../components/Picture.svelte';
import App from '../components/App.svelte';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1><code>Astro</code> + <code>Svelte</code> + <code>vite-imagetools</code></h1>
    <!-- <Picture filename={'rainbox.jpg'} client:load /> -->
    <App client:idle />
  </body>
</html>
